body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f9f8f8;
}

a {
  text-decoration: none;
  color: black;
}

main {
  max-width: 1200px;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.btn-search-global.filter-btn a {
  color: #365dd1;
}

.nav-link:hover {
  color: rgb(81, 122, 255);
}

.btn-reg {
  border: 2px solid rgb(41, 41, 41);
  border-radius: 10px;
  padding: 10px 10px;
  font-weight: 600;
  transition:
    0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.btn-reg:hover {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(81, 122, 255);
  background-color: rgb(81, 122, 255);
}

.search {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  text-align: center;
}

.search h2 {
  font-size: 40px;
  margin: 0;
  color: rgb(41, 41, 41);
}

.search p {
  font-size: 20px;
  margin: 20px 0 50px 0;
  color: rgb(41, 41, 41);
}

.search-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: flex-end;
}

.input-search-filter {
  min-height: 50px;
  border: none;
  background-color: rgb(240, 240, 240);
  padding: 0 0 0 10px;
  width: 200px;
  color: rgba(46, 46, 46, 0.755);
  transition: 0.3s ease;
}

.input-search-filter:hover {
  box-shadow:
    0px 0px 8px rgba(107, 107, 107, 0.306),
    0px 0px 8px rgba(81, 122, 255, 0.329);
}

.input-search-filter.city {
  border-radius: 10px 0 0 10px;
  max-width: 300px;
  width: 100%;
}

.input-search-filter.guest {
  border-radius: 0 10px 10px 0;
}

.input-search-filter:focus {
  outline: rgb(81, 122, 255) solid 2px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 12px;
  margin-bottom: 4px;
  color: #555;
}

.btn-search-global.a {
  padding: 12.5px 10px;
}

.btn-search-global {
  border: 3px solid rgb(81, 122, 255);
  color: rgb(81, 122, 255);
  padding: 10px 10px;
  font-weight: 600;
  font-size: 16px;
  transition:
    0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  width: 200px;
  background-color: #f9f8f8;
  border-radius: 10px;
  font-weight: 600;
}

.btn-search-global:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(81, 122, 255);
  background-color: rgb(81, 122, 255);
  box-shadow:
    0px 0px 8px rgba(107, 107, 107, 0.306),
    0px 0px 10px rgba(81, 122, 255, 0.329);
}

.a-serch-filt {
  color: #517aff;
}

.hosts-carts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 50px;
}

.bron_cart {
  max-width: 300px;
  min-height: 350px;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: rgb(41, 41, 41);
  transition: 0.3s ease;
  box-shadow: 0px 0px 8px rgba(107, 107, 107, 0.306);
}

.bron_cart:hover {
  transform: translateY(-5%);
  box-shadow:
    0px 0px 8px rgba(107, 107, 107, 0.306),
    0px 0px 10px rgba(81, 122, 255, 0.329);
}

.img-cart {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.info_bron {
  width: 100%;
}

.info_bron h5 {
  font-size: 20px;
  margin: 10px 0;
}

.info_bron p {
  font-size: 14px;
  margin: 5px 0;
}

.info_bron .price {
  font-size: 18px;
  font-weight: 600;
  color: rgba(227, 39, 39, 0.954);
  margin: 15px 0 20px 0px;
}

.detail {
  border: 2px solid rgb(81, 122, 255);
  color: rgb(81, 122, 255);
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border-radius: 10px;
  margin-right: 10px;
}

.brone {
  border: 2px solid rgb(81, 122, 255);
  color: rgb(255, 255, 255);
  padding: 10px 25px;
  font-weight: 600;
  font-size: 14px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background-color: rgb(81, 122, 255);
  border-radius: 10px;
}

.pag {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: #365dd1;
}

.num {
  padding: 5px;
  background-color: #e5f4f8;
}

.active {
  background-color: #365dd1;
  color: white;
}

footer {
  margin-top: 70px;
  background: rgb(233, 233, 233);
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  text-align: start;
  flex-wrap: wrap;
  width: 100%;
}

.block-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.block-footer a {
  text-decoration: none;
  color: #555;
  transition: 0.2s;
}

.block-footer a:hover {
  color: #517aff;
}

.block-footer.contact p {
  margin: 0 0 10px 0;
  color: rgb(41, 41, 41);
}

@media (max-width: 768px) {
  main {
    max-width: 768px;
  }

  .nav_links a {
    font-size: 12px;
  }



  .btn-reg {
    border: 2px solid rgb(41, 41, 41);
    border-radius: 10px;
    padding: 5px 5px;
    font-weight: 600;
    font-size: 12px;
    width: 130px;
    margin-right: 10px;
  }


  .search-form-global {
    max-width: 700px;
  }

  .p-search p {
    font-size: 18px;
  }

  .p-search {
    max-width: 200px;
    max-height: 50px;
  }

  .help {
    margin: 0;
    margin-top: 20px;
  }

  .search h2 {
    font-size: 34px;
  }

  .search p {
    font-size: 18px;
  }

  .search-filter {
    max-width: 800px;
    margin-left: 5px;
  }
  .input-search-filter {
    width: 100px;
  }
  .input-search-filter.city {
    width: 250px;
  }
  .btn-search-global.filter-btn {
    width: 100px;
  }

  .bron_cart {
    max-width: 250px;
  }
  .btn_brone a {
    padding: 5px 15px;
    font-size: 12px;
  }
  .hosts-carts {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    row-gap: 30px;
    max-width: 768px;
    width: 100%;
  }
}
